<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <%= image_pack_tag 'media/images/home.png', size: '390x394' %>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Dê os primeiros passos em tecnologia</h1>
            <p class="lead">
                Tutoriais <b><i> gratuitos </i></b> feitos especialmente para <b><i> iniciantes</i></b>.<br/>
                Para quem deseja desenvolver novas habilidades <br/> e quer trilhar um novo  caminho profissional.
            <br/>
            <br/>
            </p>
            <p class="lead"> Quer ser notificado/a quando os cursos estiverem disponíveis? Assine nossa lista de espera!</p>
                <%= form_with model: User.new, url: users_path do |form| %>
                    <% form.label :email%>
                    <div class="input-group mb-3" style="display: inline-flex;">
                        <%= form.email_field :email, 
                            class: "form-control", 
                            placeholder: "Digite seu email",  
                            style: "border-color: lightblue" %>
                        <%=form.submit "Feito!", 
                            class: "input-group-text", 
                            id: "basic-addon2", 
                            style: "color: #055160; background-color: #cff4fc" %>
                    </div>
                <% end %>
            </p>
            <% flash.each do |type, msg| %>
                <div class="alert alert-info">
                    <%= msg %>
                </div>
            <% end %>
        </div> 
    </div>     
</div>
